fastapi
uvicorn
sqlalchemy
psycopg2-binary
geoalchemy2
pydantic
pydantic-settings
python-dotenv
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
cors
pytest
pytest-cov
httpx
pytest-asyncio
